body{
    background: url("https://leonardogonzlz.github.io/convertidor-de-numeros-romanos/img/fondo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    font-family: 'Griffy', cursive;
}
